@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Source+Serif+4:opsz,wght@8..60,200..900&display=swap');
html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', "Source Serif 4", "Nanum Myeongjo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
